.footer_link a{color: #fff !important;}.footer_link a:hover{font-weight: bold; }.banner_link a{color: #5bc0de !important;}.banner_link a:hover{color: #fff !important;text-decoration: none;}
.footer2{background:url(../images/back_footer.png)!important;width:100%;color:#FFFFFF;padding:2px;}.footer2 a{color: #fff !important;}
.top-menu-link{color: #fff !important;}.top-menu-link:hover{color: #000 !important;text-decoration: none !important; font-weight:bold !important;}.top-menu{color: #fff !important;}.top-menu:hover{font-weight: bold !important;}
.banner_glob{margin: 5em 0 1.5em 0;}.pagination{display:block !important;}
.pagenav{text-align:right}.select2{padding:6px 12px;}
.pagenav ul{display:inline-block;display:inline;list-style-type:none;margin-left:0;margin-bottom:0;}
.pagenav li{display:inline;margin:0px;padding:0}
.pagenav a,span.pagenav{padding:0 14px;margin:0;line-height:1.9em;text-decoration:none;border:1px solid #ddd;border-left:0px solid #ddd;display:inline-block;line-height:1.9em;}
.pagenav li:first-child a,.pagination-start span{-webkit-border-radius:3px 0 0 3px;-moz-border-radius:3px 0 0 3px;border-radius:3px 0 0 3px;border-left:solid 1px #ddd}
.pagenav li:last-child a,.pagination-end span{-webkit-border-radius:0 3px 3px 0;-moz-border-radius:0 3px 3px 0;border-radius:0 3px 3px 0;}
.pagination ul{margin:10px 10px 10px 0;padding:0}
.pagination li{display:inline;}
.pagination a{padding:0 14px;line-height:2em;text-decoration:none;border:1px solid #ddd;border-left:0px solid #ddd;display:inline-block}
.pagination .active a{cursor:default;}
.pagination span,.pagination span a:hover{cursor:default;padding:0 14px;line-height:2em;}
.pagination li:first-child a{border-left-width:1px;-webkit-border-radius:3px 0 0 3px;-moz-border-radius:3px 0 0 3px;border-radius:3px 0 0 3px;}
.pagination li:last-child a{-webkit-border-radius:0 3px 3px 0;-moz-border-radius:0 3px 3px 0;border-radius:0 3px 3px 0;}
#astro_warn{visibility: hidden;}.form-text1{padding:6px 12px;width:10%;}.form-text2{padding: 6px 12px;width:30%}