.container-fluid{line-height: 160% !important;}
a {text-decoration: none !important;}
.hindi{font-family: 'Noto Sans', sans-serif;font-size: 18px;}
.select2{padding:6px 12px;}
@media (min-width:768px){.form-text1{padding:6px 12px;width:10%;}.form-text2{padding: 6px 12px;width:20%}}
@media (max-width:601px){.form-text1{padding:6px 12px;width:25%;}.form-text2{padding: 6px 12px;width:30%}}
  .ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
  }
  /* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
  * html .ui-autocomplete {
    height: 100px;
  }
.pull-right{float:right;}
.pull-right.item-image {
	margin: 0 0 18px 20px;
}
.element-invisible{display: none;}.input-mini{float: right;padding: 5px;margin-bottom:10px;}
.counter{margin-left:0.50em !important;}.link_2 a{text-decoration: none;color: #fff;}.dropdown-item{color: #fff !important;}.dropdown-item:hover{color:#000 !important;}
.dropdown-divider{border: 3px;color: #fff !important}
.closebtn {
  position: absolute;
  top: 1%;
  right: 25px;
  font-size: 30px;
  margin-left: 20%;
  color:#fff;
}
img {
	max-width: 100%;
	width: auto \9;
	height: auto;
	vertical-align: middle;
	border: 0;
	-ms-interpolation-mode: bicubic;
}
